<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>

    <div class='mdl-card devise-form'>
      <div class='mdl-card__title'>
        <div class='mdl-card__title-text'>
          Resend confirmation instructions
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class='mdl-card__supporting-text'>
          <%= devise_error_messages! %>
        </div>

        <div class='mdl-card__supporting-text'>
          <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
            <%= f.label :email, class: 'mdl-textfield__label'%>
            <%= f.email_field :email, email_field_options.merge(value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)) %>
          </div>
        </div>

        <div class='mdl-card__actions'>
          <%= f.button 'Resend instructions', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect' %>
        </div>
      <% end %>

      <%= devise_users_shared_links %>
    </div>

  </div>
</div>
