<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>

    <div class='mdl-card devise-form'>
      <div class='mdl-card__title'>
        <div class='mdl-card__title-text'>
          Preregister to
        </div>
      </div>
      <div class='mdl-card__title'>
        <div class='mdl-card__subtitle-text'>
          - share your summaries<br>
          - access community summaries and discussion
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class='mdl-card__supporting-text'>
          <%= devise_error_messages! %>
        </div>

        <div class='mdl-card__supporting-text'>
          <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
            <%= f.label :email, class: 'mdl-textfield__label'%>
            <%= f.email_field :email, email_field_options %>
          </div>

          <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
            <%= f.label :password, "Password (use #{@minimum_password_length} characters or more)", class: 'mdl-textfield__label' %>
            <%= f.password_field :password, password_field_options %>
          </div>

          <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
            <%= f.label :password_confirmation, class: 'mdl-textfield__label' %>
            <%= f.password_field :password_confirmation, password_field_options %>
          </div>

          <%= f.label :newsletter_opt_in, class: 'mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect' do %>
            <%= f.check_box :newsletter_opt_in, class: 'mdl-checkbox__input', checked: true %>
            <span class="mdl-checkbox__label">Receive the periodical</span>
          <% end %>
        </div>

        <div class='mdl-card__actions'>
          <%= f.button 'REGISTER', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect' %>

          <span class='tos-notice'>
            By creating an account, you agree to the <%= link_to 'user agreement', privacy_and_terms_path, target: '_blank' %>.
          </span>
        </div>
      <% end %>

      <%= devise_users_shared_links %>
    </div>

  </div>
</div>
